Package: enigma2-plugin-skins-prime-nfr-style-by-stein17
Version: 5.0
Section: base
OE: Enigma2 Skin
License: open
Priority: optional
Architecture: all
Maintainer: opennfr
Description: Skin for your E2-Box
Source: http://www.nachtfalke.biz
Homepage: http://www.nachtfalke.biz
Depends: enigma2-plugin-skincomponents-weathercomponent, enigma2-plugin-systemplugins-weathercomponenthandler
