Package: enigma2-plugin-skins-nfr_skin
Version: 3.1
Section: base
Priority: optional
Architecture: all
Maintainer: stein17
Description: NFR HD Skin for by stein17
Depends: enigma2-plugin-skincomponents-weathercomponent, enigma2-plugin-systemplugins-weathercomponenthandler
Source: https://github.com/carlo0815/openNFR-skin-2018
Homepage: https://github.com/stein17/Skins-for-openNFR
OE: Enigma2 Skin
License: open
