Package: enigma2-plugin-skins-blue-line-oct-4nfr
Version: 2.1
Section: base
Priority: optional
Architecture: all
Maintainer: stein17
Description: BlueLineFHD for NFR by stein17
Depends: enigma2-plugin-skincomponents-weathercomponent, enigma2-plugin-systemplugins-weathercomponenthandler
Source: https://github.com/stein17/Skins-for-openNFR/tree/master/Blue-Line-OCT-4NFR
Homepage: https://github.com/stein17/Skins-for-openNFR
OE: Enigma2 Skin
License: open
