Package: enigma2-plugin-skins-ax-blue-fhd-4nfr
Version: 3.0
Section: base
OE: Enigma2 Skin
License: open
Priority: optional
Architecture: all
Maintainer: stein17
Description: Skin Full HD for NFR Images by stein17
Source: http://www.nachtfalke.biz
Homepage: https://axforum.de/

